#footer #emailSignup
{
	width: 206px;
}

#footer #emailSignup .body {
	padding: 10px 10px 0px 22px;
}

#footer #navList1
{
	width: 198px;
}

#footer #navList2
{
	width: 218px;
}

#footer input
{
	width: 100px;
}
